useDynLib(oalhs)

export(createAddelKemp)
export(createAddelKemp3)
export(createAddelKempN)
export(createBose)
export(createBoseBush)
export(createBoseBushl)
export(createBush)
export(createBusht)

importFrom(Rcpp)
